body {
    background-color: #FFF1DD;
}

.name {
    display: flex;
    justify-content: center;
}

.tel {
    display: flex;
    justify-content: center;
}

.email {
    display: flex;
    justify-content: center;
}

.addr {
    display: flex;
    justify-content: center;
}

.qq {
    display: flex;
    justify-content: center;
}

.bir {
    display: flex;
    justify-content: center;
}

.confirm-add {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.add-back {
    display: flex;
    justify-content: center;
}