<!DOCTYPE html>
<html>
<meta charset="utf-8">

<head>
    <title>个人通讯录管理系统Ver0.1.4</title>
</head>

<body>
<link rel="stylesheet" type="text/css" href="/login.css">

<h1>个人通讯录管理系统</h1>
<h2>Ver0.1.4</h2>
<div class="container">
    <div class="card card-container">
        <form class="form-login" method="get">
            <label for="username"></label><input type="text" name="username" id="username" class="form-control"
                                                 placeholder="Username" required="" autofocus="">
            <label for="password"></label><input type="password" name="password" id="password" class="form-control"
                                                 placeholder="Password" required="">
            <button class="btn-login" type="submit" id="btnLogin">Log in</button>
            <p id="template" class="template">username:kotake passsword:lalala</p>
        </form>
    </div>
</div>


</body>
</html>